* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

/* Custom player style */
midi-player {
    display: block;
    height: 60px;
    width: inherit;
    margin: 8px;
    margin-bottom: 0;
}

midi-player::part(control-panel) {
    background: #fff;
    border-radius: 10px 10px 0 0;
    border: solid 1px #000;
}

midi-player::part(play-button) {
    color: #000;
    background: #fff;
    border: 1px solid #888;
    border-radius: 20px;
    transition: all 0.1s;
    content: 'hello';
}

midi-player::part(play-button):hover {
    box-shadow: #aaa 1px 1px 1px;
}

midi-player::part(time) {
    font-family: monospace;
}

midi-visualizer svg rect.note {
    opacity: 0.6;
}

midi-visualizer svg rect.note[data-instrument="0"]{
    fill: #00f;
}

midi-visualizer svg rect.note[data-instrument="2"]{
    fill: #f00;
}

midi-visualizer svg rect.note[data-is-drum="true"]{
    fill: #000;
}

midi-visualizer svg rect.note.active {
    fill: #0f0;
    opacity: 1;
    stroke: #000;
    stroke-width: 1;
}

/* Custom visualizer style */
midi-visualizer {
    background: #fff;
    margin: 8px;
    margin-top: 0;
    overflow: auto hidden;
    border: solid 1px #000;
    border-top: none;
}

.staff-visualizer:first-child {
    margin: 8px;
}

.staff-visualizer > div > svg {
    background-color: #fff;
    padding-right: 0;
}

.staff-visualizer svg {
    padding: 16px;
}
